<form action="/create" method="post">
    <h2>Create ToDo</h2>

    <div>
        <input id="icon_prefix" type="text" name="title">
        <label for="icon_prefix">Todo title</label>
    </div>

    <button type="submit" class="waves-effect waves-light btn-large">Create</button>

</form>